<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
      rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
  <title>Tutor-Me</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="css/fontawesome.css">
  <link rel="stylesheet" href="css/templatemo-style.css">
  <link rel="stylesheet" href="css/owl.css">

  <!-- <link rel="stylesheet" href="css/styles.css" /> -->
  <link rel="stylesheet" href="css/chatStyles.css"/>

  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
  <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
  <script type="text/javascript"
          src="https://momentjs.com/downloads/moment.min.js"></script>

  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script src="js/chatScript.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YSVVP3FGRQ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-YSVVP3FGRQ');

  </script>
</head>

<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

  <!-- Main -->
  <div id="main">
    <div class="inner">

      <!-- Header -->
      <header id="header">
        <div class="logo">
          <a href="/">Tutor-Me</a>
        </div>
      </header>

      <!-- Page Heading -->
      <!-- <div class="page-heading">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <h1>Chats</h1>
            </div>
          </div>
        </div>
      </div> -->


      <!--        <section>-->
      <div class="container" style="padding: 0;">
        <div class="row no-gutters">
          <div class="col-md-4 border-right">
            <div class="settings-tray">
              <img class="profile-image"
                   src="images/img_avatar2.png"
                   alt="Profile img">
              <span class="settings-tray--right">

<!--                    <i class="material-icons">cached</i>-->
                <!--                    <i class="material-icons">message</i>-->
                <!--                    <button id="newConversation"-->
                <!--                            class="mdc-icon-button ">message</button>-->

                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle material-icons" type="button"
                              id="newConversation" data-toggle="dropdown" aria-expanded="false">
                        message</button>
                      <div id="newMessageOptions" class="dropdown-menu"
                           aria-labelledby="newConversation">
<!--                        <a class="dropdown-item" href="#">Action</a>-->
                      </div>
                    </div>
                <!--            <i class="material-icons">menu</i>-->
            </span>
            </div>
            <div class="search-box">
              <div class="input-wrapper">
                <i class="material-icons">search</i>
                <input placeholder="Search here" type="text">
              </div>
            </div>
            <div id="sideBarMessages">
              <div th:each="personMessages : ${recentChatsMap}">
                <div class="friend-drawer friend-drawer--onhover"
                     th:attr="onclick=|clickOnSideBarMessage('${personMessages.key.id}')|">
                  <!--                <div class="friend-drawer friend-drawer&#45;&#45;onhover"-->
                  <!--                     onclick=clickOnSideBarMessage(51)>-->
                  <!--                    <img class="profile-image"-->
                  <!--                         src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg"-->
                  <!--                         alt="">-->
                  <div class="text">
                    <h6 th:text="${personMessages.key}"/>
                    <p th:id="'unread-'+${personMessages.key.id}" class="text-muted"></p>
                    <p th:if="${!personMessages.value.isEmpty()}" class="text-muted"
                       th:text="${personMessages.value[personMessages.value.size() - 1].message}"/>
                  </div>
                  <span th:if="${!personMessages.value.isEmpty()}"
                        th:text="${personMessages.value[personMessages.value.size() - 1].time.toLocaleString()}"
                        class="time text-muted small"></span>
                </div>
                <hr>
              </div>
            </div>
            <div>

            </div>
          </div>

          <div class="col-md-8">
            <div class="settings-tray">
              <div id="currentChatTopBar" class="friend-drawer no-gutters friend-drawer--grey">
                <img class="profile-image"
                     src="images/img_avatar2.png"
                     alt="">
                <div class="text">
                  <h6 id="currentChatTopBarName"></h6>
                  <p id="currentChatTopBarStatus" class="text-muted"></p>
                </div>
                <span class="settings-tray--right">
                    <i class="material-icons">cached</i>
                    <i class="material-icons">message</i>
                    <i class="material-icons">menu</i>
                  </span>
              </div>
            </div>


            <div class="chat-panel">
              <div id="chatPanel">
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="chat-box-tray">
                    <i class="material-icons">sentiment_very_satisfied</i>
                    <input id="messageBox" type="text" placeholder="Type your message here...">
                    <button class="mdc-icon-button material-icons">mic</button>
                    <button id="sendMessage" class="mdc-icon-button material-icons">send
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar -->
  <div id="sidebar">

    <div class="inner">

      <!-- Search Box -->
      <section id="search" class="alt">
        <form method="get" action="#">
          <input type="text" name="search" id="search"
                 placeholder="Search..."/>
        </form>
      </section>

      <!-- Menu -->
      <nav id="menu">
        <ul>
          <li>
            <a href="/">Homepage</a>
          </li>
          <li>
            <a href="/chats_page">Chats</a>
          </li>
          <li>
            <a href="/calls_page">Calls</a>
          </li>
          <li>
            <a href="/calendar">Calendar</a>
          </li>
        </ul>
      </nav>

      <!-- Footer -->
      <footer id="footer">
        <br>
        <p>DRP project by </p>
      </footer>

    </div>
  </div>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->

<script src="assets/jquery/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="js/browser.min.js"></script>
<script src="js/breakpoints.min.js"></script>
<script src="js/transition.js"></script>
<script src="js/owl-carousel.js"></script>
<script src="js/custom.js"></script>

</body>

</html>