<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/png" href="/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title>Tutor me</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
        name='viewport'/>
  <meta
      name="viewport" content="width=device-width"/>


  <!-- Bootstrap core CSS     -->
  <link
      href="/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- Animation library for notifications   -->
  <link
      href="/css/animate.min.css" rel="stylesheet"/>

  <!--  Light Bootstrap Table core CSS    -->
  <link
      href="/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link
      href="/css/demo.css" rel="stylesheet"/>


  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
        rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet'
        type='text/css'>
  <link href="/css/pe-icon-7-stroke.css" rel="stylesheet"/>
  <script src="https://kit.fontawesome.com/6a712125a4.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="wrapper">
  <div class="sidebar" data-color="purple" data-image="/img/sidebar-5.jpg">

    <!--
            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag
        -->

    <div class="sidebar-wrapper">
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
          Tutor Me
        </a>
      </div>

      <ul class="nav">
        <li>
          <a href="/dashboard">
            <i class="pe-7s-home"></i>
            <p>Home</p>
          </a>
        </li>
        <li class="active">
          <a href="/calls">
            <i class="pe-7s-video"></i>
            <p>Calls</p>
          </a>
        </li>
        <li>
          <a href="/chats">
            <i class="pe-7s-chat"></i>
            <p>Chats</p>
          </a>
        </li>

        <li>
          <a href="/calendar">
            <i class="pe-7s-date"></i>
            <p>Calendar</p>
          </a>
        </li>
        <li>
          <a href="/homework">
            <i class="pe-7s-note"></i>
            <p>Homework</p>
          </a>
        </li>
        <li>
          <a href="/notes">
            <i class="pe-7s-notebook"></i>
            <p>Notes</p>
          </a>
        </li>

        <li>
          <a href="/user">
            <i class="pe-7s-user"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li>
          <a href="/notifications">
            <i class="pe-7s-bell"></i>
            <p>Notifications</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Calls</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left"></ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/user">
                <p>Account</p>
              </a>
            </li>
            <li>
              <a href="#">
                <p>Log out</p>
              </a>
            </li>
            <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="content">
      <div class="container-fluid">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h3 id="callNotification"></h3>
              <h5>Control Panel</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-3">
              <div class="dropdown">
                <button class="dropdown-toggle btn btn-default btn-block" data-toggle="dropdown"
                        type="button">
                  <p style="margin-bottom: 0px"><i class="fas fa-phone-alt"></i> New Call <b
                      class="caret"></b></p>
                </button>
                <!--              <button class="btn btn-info btn-fill" id="callJayme" type="button" onclick="callUser(1)">Call Jayme</button>-->
                <!--              <button class="btn btn-info btn-fill" id="callKrishan" type="button" onclick="callUser(30)">Call Krishan</button>-->
                <ul class="dropdown-menu" id="newConvDropDown">
                </ul>
              </div>
              <!--              <button class="btn btn-default btn-block" onclick="demo.showNotification('bottom','left')">Bottom Left</button>-->
            </div>
            <div class="col-md-2">
              <button class="btn btn-success btn-block" id="accept" type="button"
                      onclick="answerCall()">Accept Call
              </button>
              <!--              <button class="btn btn-default btn-block" onclick="demo.showNotification('bottom','center')">Bottom Center</button>-->
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger btn-block" id="end" type="button" onclick="leaveCall()">
                End Call
              </button>
              <!--              <button class="btn btn-default btn-block" onclick="demo.showNotification('bottom','right')">Bottom Right</button>-->
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-3">
              <button class="btn btn-default btn-block"
                      onclick="demo.showNotification('top','left')">Top Left
              </button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default btn-block"
                      onclick="demo.showNotification('top','center')">Top Center
              </button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default btn-block"
                      onclick="demo.showNotification('top','right')">Top Right
              </button>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <video playsInline muted id="myVideo" autoPlay controls/>
            </div>
          </div>
          <div class="col-md-6 justify-content-center">
            <div class="card">
              <video playsInline id="theirVideo" autoPlay/>
            </div>
          </div>
        </div>
        <!--        <div class="row">-->
        <!--          <div class="col-md-6">-->

        <!--            <div class="dropdown">-->
        <!--              <button class="dropdown-toggle btn btn-info btn-fill" data-toggle="dropdown" type="button">-->
        <!--                <p><i class="fas fa-phone-alt"></i>    New Call    <b class="caret"></b></p>-->
        <!--              </button>-->
        <!--&lt;!&ndash;              <button class="btn btn-info btn-fill" id="callJayme" type="button" onclick="callUser(1)">Call Jayme</button>&ndash;&gt;-->
        <!--&lt;!&ndash;              <button class="btn btn-info btn-fill" id="callKrishan" type="button" onclick="callUser(30)">Call Krishan</button>&ndash;&gt;-->
        <!--              <button class="btn btn-success btn-fill" id="accept" type="button" onclick="answerCall()">Accept Call</button>-->
        <!--              <button class="btn btn-danger btn-fill" id="end" type="button" onclick="leaveCall()">End Call</button>-->
        <!--              <ul class="dropdown-menu" id="newConvDropDown">-->
        <!--              </ul>-->
        <!--            </div>-->
        <!--          </div>-->

        <!--          <div class="col-md-8">-->

        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>


</body>

<style>
  body {
    overflow: hidden; /* Hide scrollbars */
  }

  video {
    padding: 0 90px;
    width: auto;
    height: 450px;
  }
</style>

<!--   Core JS Files   -->
<script src="/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/simplepeer.min.js"></script>
<script src="/js/videoCall.js"></script>

<script type="text/javascript"></script>
<script src="/js/demo.js"></script>
</html>
