<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/png" href="/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title>Tutor me</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
        name='viewport'/>
  <meta
      name="viewport" content="width=device-width"/>


  <!-- Bootstrap core CSS     -->
  <link
      href="/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- Animation library for notifications   -->
  <link
      href="/css/animate.min.css" rel="stylesheet"/>

  <!--  Light Bootstrap Table core CSS    -->
  <link
      href="/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link
      href="/css/demo.css" rel="stylesheet"/>


  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
        rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet'
        type='text/css'>
  <link href="/css/pe-icon-7-stroke.css" rel="stylesheet"/>
  <script src="https://kit.fontawesome.com/6a712125a4.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="wrapper">
  <div class="sidebar" data-color="purple" data-image="/img/sidebar-5.jpg">

    <!--
            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag
        -->

    <div class="sidebar-wrapper">
      <div class="logo" style="padding-left: 10px">
        <div class="login100-pic js-tilt" data-tilt=""
             style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);"
             onclick="window.location.href='/'">
          <img style=" width: 240px;" src="/img/logo.png" alt="logo">
        </div>
      </div>

      <ul class="nav">
        <li>
          <a href="/dashboard">
            <i class="pe-7s-home"></i>
            <p>Home</p>
          </a>
        </li>
        <li class="active">
          <a href="/calls">
            <i class="pe-7s-video"></i>
            <p>Calls</p>
          </a>
        </li>
        <li>
          <a href="/chats">
            <i class="pe-7s-chat"></i>
            <p>Chats</p>
          </a>
        </li>

        <li>
          <a href="/calendar">
            <i class="pe-7s-date"></i>
            <p>Calendar</p>
          </a>
        </li>
        <li>
          <a href="/homework">
            <i class="pe-7s-note"></i>
            <p>Homework</p>
          </a>
        </li>
        <li>
          <a href="/notes">
            <i class="pe-7s-notebook"></i>
            <p>Notes</p>
          </a>
        </li>

        <li>
          <a href="/user">
            <i class="pe-7s-user"></i>
            <p>User Profile</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Calls</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left"></ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/user" style="padding-top: 12px;padding-right: 0px;">
                <p th:text="${person.name}"></p>
              </a>
            </li>
            <li>
              <div class="login100-pic js-tilt" data-tilt=""
                   style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);"
                   onclick="window.location.href='/user'">
                <img id="navBarProfilePic" class="avatar border-gray"
                     style="margin-top: 6px; height: 50px; width: 50px;"
                     th:src="'/img/avatars/' + ${person.avatar} + '.png'"
                     th:alt="${person.avatar}"/>
              </div>
            </li>
            <li>
              <a href="/logout">
                <p>Log out</p>
              </a>
            </li>
            <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="content">
      <div id="callDashboard" class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <!-- One-to-One calls-->
            <div class="row">
              <div col="col-md-12">
                <div class="card" style="margin-top: 35px">
                  <div class="header" style="text-align: center">
                    <h4 style="margin-top: 15px">One-to-One calls</h4>
                    <h5>Have conversations with other individuals!</h5>
                  </div>
                  <div class="content">
                    <button class="btn btn-default btn-block" onclick="individualCalls()">
                      Individual Calls
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Group calls-->
            <div class="row">
              <div col="col-md-12">
                <div class="card">
                  <div class="header" style="text-align: center">
                    <h4 style="margin-top: 15px">Group calls</h4>
                    <h5>Talk with multiple people on the same call!</h5>
                  </div>
                  <div class="content">
                    <button class="btn btn-default btn-block" onclick="groupCalls()">Group calls
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 justify-content-center">
            <div class="card">
              <video playsInline muted id="dashBoardVideo" autoPlay controls/>
            </div>
          </div>
        </div>

        <div class="row">
          <!-- Quick select-->
          <div class="col-md-4">
            <div class="row">
              <div col="col-md-12">
                <div id="user1" class="card card-user" style="display: none">
                  <div class="content">
                    <div class="author">
                      <a href="#">
                        <div class="logo" style="padding-left: 10px">
                          <div class="login100-pic js-tilt" data-tilt=""
                               style="margin-top: 75px; will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
                            <img id="profilePicUser1" class="avatar border-gray"
                                 src="/img/avatars/1.png"
                                 alt="1"/>
                          </div>
                        </div>

                        <h4 id="nameUnderProfilePicUser1" class="title">Test Name<br/>
                        </h4>
                      </a>
                    </div>
                    <p id="statusUnderProfilePicUser1" class="description text-center">Test
                      status</p>
                    <div class="buttonWrapper">
                      <button class="btn btn-default btn-block"
                              style="width: 30%; margin-right: 20px;">Start a Private Call
                      </button>
                      <button class="btn btn-default btn-block"
                              style="width: 30%; margin-top: 0px;">Start a Group Call
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="row">
              <div col="col-md-12">
                <div id="user2" class="card card-user"
                     style="margin-left: 10px; margin-right: 10px; display: none">
                  <div class="content">
                    <div class="author">
                      <a href="#">
                        <div class="logo" style="padding-left: 10px">
                          <div class="login100-pic js-tilt" data-tilt=""
                               style="margin-top: 75px; will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
                            <img id="profilePicUser2" class="avatar border-gray"
                                 src="/img/avatars/2.png"
                                 alt="2"/>
                          </div>
                        </div>

                        <h4 id="nameUnderProfilePicUser2" class="title">Test Name<br/>
                        </h4>
                      </a>
                    </div>
                    <p id="statusUnderProfilePicUser2" class="description text-center">Test
                      status</p>
                    <div class="buttonWrapper">
                      <button class="btn btn-default btn-block"
                              style="width: 30%; margin-right: 20px;">Start a Private Call
                      </button>
                      <button class="btn btn-default btn-block"
                              style="width: 30%; margin-top: 0px;">
                        Start a Group Call
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="row">
              <div col="col-md-12">
                <div id="user3" class="card card-user" style="display: none">
                  <div class="content">
                    <div class="author">
                      <a href="#">
                        <div class="logo" style="padding-left: 10px">
                          <div class="login100-pic js-tilt" data-tilt=""
                               style="margin-top: 75px; will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);">
                            <img id="profilePicUser3" class="avatar border-gray"
                                 src="/img/avatars/3.png"
                                 alt="3"/>
                          </div>
                        </div>

                        <h4 id="nameUnderProfilePicUser3" class="title">Test Name<br/>
                        </h4>
                      </a>
                    </div>
                    <p id="statusUnderProfilePicUser3" class="description text-center">Test
                      status</p>
                    <div class="buttonWrapper">
                      <button class="btn btn-default btn-block"
                              style="width: 30%; margin-right: 20px;">Start a Private Call
                      </button>
                      <button class="btn btn-default btn-block"
                              style="width: 30%; margin-top: 0px;">Start a Group Call
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div id="individualCall" class="container-fluid" style="display: none">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h3 id="callNotification"></h3>
              <h5 class="dropDownText">Select a person to call</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-3">
              <button class="btn btn-success btn-block" id="accept" type="button"
                      style="display: none"
                      onclick="answerCall(false)">Accept Call
              </button>
              <!--              <button class="btn btn-default btn-block" onclick="demo.showNotification('bottom','center')">Bottom Center</button>-->
            </div>
            <div class="col-md-2">
              <div class="dropdown" id="newCallDropDown">
                <button class="dropdown-toggle btn btn-default btn-block" data-toggle="dropdown"
                        type="button">
                  <p style="margin-bottom: 0px"><i class="fas fa-phone-alt"></i> New Call <b
                      class="caret"></b></p>
                </button>
                <!--              <button class="btn btn-info btn-fill" id="callJayme" type="button" onclick="callUser(1)">Call Jayme</button>-->
                <!--              <button class="btn btn-info btn-fill" id="callKrishan" type="button" onclick="callUser(30)">Call Krishan</button>-->
                <ul class="dropdown-menu" id="newConvDropDown">
                </ul>
              </div>
              <button class="btn btn-default btn-block" id="shareScreen" style="display: none"
                      onclick="shareScreen()">Share Screen
              </button>
              <!--              <button class="btn btn-default btn-block" onclick="demo.showNotification('bottom','left')">Bottom Left</button>-->
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger btn-block" id="end" type="button"
                      onclick="leaveCall()"
                      style="display: none">
                End Call
              </button>
              <!--              <button class="btn btn-default btn-block" onclick="demo.showNotification('bottom','right')">Bottom Right</button>-->
            </div>
          </div>
          <!--          <div class="row">-->
          <!--            <div class="col-md-2 col-md-offset-3">-->

          <!--            </div>-->
          <!--            <div class="col-md-2">-->
          <!--              <button class="btn btn-default btn-block"-->
          <!--                      onclick="demo.showNotification('top','center')">Top Center-->
          <!--              </button>-->
          <!--            </div>-->
          <!--            <div class="col-md-2">-->
          <!--              <button class="btn btn-default btn-block"-->
          <!--                      onclick="demo.showNotification('top','right')">Top Right-->
          <!--              </button>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>


        <div class="row">
          <div class="col-md-6 justify-content-center">
            <div class="card">
              <video playsInline muted id="myVideo" autoPlay controls/>
            </div>
          </div>
          <div class="col-md-6 justify-content-center">
            <div class="card">
              <video playsInline id="theirVideo" autoPlay/>
            </div>
          </div>
        </div>
        <!--        <div class="row">-->
        <!--          <div class="col-md-6">-->

        <!--            <div class="dropdown">-->
        <!--              <button class="dropdown-toggle btn btn-info btn-fill" data-toggle="dropdown" type="button">-->
        <!--                <p><i class="fas fa-phone-alt"></i>    New Call    <b class="caret"></b></p>-->
        <!--              </button>-->
        <!--&lt;!&ndash;              <button class="btn btn-info btn-fill" id="callJayme" type="button" onclick="callUser(1)">Call Jayme</button>&ndash;&gt;-->
        <!--&lt;!&ndash;              <button class="btn btn-info btn-fill" id="callKrishan" type="button" onclick="callUser(30)">Call Krishan</button>&ndash;&gt;-->
        <!--              <button class="btn btn-success btn-fill" id="accept" type="button" onclick="answerCall()">Accept Call</button>-->
        <!--              <button class="btn btn-danger btn-fill" id="end" type="button" onclick="leaveCall()">End Call</button>-->
        <!--              <ul class="dropdown-menu" id="newConvDropDown">-->
        <!--              </ul>-->
        <!--            </div>-->
        <!--          </div>-->

        <!--          <div class="col-md-8">-->

        <!--          </div>-->
        <!--        </div>-->
      </div>

      <div id="groupCall" class="container-fluid" style="display: none">
        <div class="places-buttons">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
              <h3 id="groupCallNotification"></h3>
              <h5 class="dropDownText">Select a person to call</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-3">
              <button class="btn btn-success btn-block" id="groupAccept" type="button"
                      style="display: none"
                      onclick="answerCall(true)">Accept Call
              </button>
            </div>
            <div class="col-md-2">
              <button id="startGroupCall" class="btn btn-block btn-default" onclick="getGroupId()">
                Start a Group Call
              </button>

              <div class="dropdown" id="groupNewCallDropDown" style="display: none;">
                <button class="dropdown-toggle btn btn-default btn-block" data-toggle="dropdown"
                        type="button">
                  <p style="margin-bottom: 0px"><i class="fas fa-phone-alt"></i> New Call <b
                      class="caret"></b></p>
                </button>
                <ul class="dropdown-menu" id="groupNewConvDropDown">
                </ul>
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-danger btn-block" id="groupEnd" type="button"
                      onclick="leaveCall()"
                      style="display: none">
                End Call
              </button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-default btn-block" id="groupShareScreen" style="display: none"
                      onclick="shareScreen()">Share Screen
              </button>
            </div>
          </div>
          <!--          <div class="row">-->
          <!--            <div class="col-md-2 col-md-offset-3">-->

          <!--            </div>-->
          <!--            <div class="col-md-2">-->
          <!--              <button class="btn btn-default btn-block"-->
          <!--                      onclick="demo.showNotification('top','center')">Top Center-->
          <!--              </button>-->
          <!--            </div>-->
          <!--            <div class="col-md-2">-->
          <!--              <button class="btn btn-default btn-block"-->
          <!--                      onclick="demo.showNotification('top','right')">Top Right-->
          <!--              </button>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>


        <div class="row">
          <div class="col-md-4 justify-content-center">
            <div class="card">
              <video playsInline muted id="myGroupVideo" autoPlay controls/>
            </div>
          </div>
          <div class="col-md-4 justify-content-center">
            <div class="card">
              <video playsInline id="peerVideo1" autoPlay/>
            </div>
          </div>
          <div class="col-md-4 justify-content-center">
            <div class="card">
              <video playsInline id="peerVideo2" autoPlay/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 justify-content-center">
            <div class="card" style="display: none;">
              <video playsInline id="peerVideo3" autoPlay/>

            </div>
          </div>
          <div class="col-md-4 justify-content-center">
            <div class="card" style="display: none;">
              <video playsInline id="peerVideo4" autoPlay/>
            </div>
          </div>
          <div class="col-md-4 justify-content-center">
            <div class="card" style="display: none;">
              <video playsInline id="peerVideo5" autoPlay/>
            </div>
          </div>
        </div>
        <!--        <div class="row">-->
        <!--          <div class="col-md-6">-->

        <!--            <div class="dropdown">-->
        <!--              <button class="dropdown-toggle btn btn-info btn-fill" data-toggle="dropdown" type="button">-->
        <!--                <p><i class="fas fa-phone-alt"></i>    New Call    <b class="caret"></b></p>-->
        <!--              </button>-->
        <!--&lt;!&ndash;              <button class="btn btn-info btn-fill" id="callJayme" type="button" onclick="callUser(1)">Call Jayme</button>&ndash;&gt;-->
        <!--&lt;!&ndash;              <button class="btn btn-info btn-fill" id="callKrishan" type="button" onclick="callUser(30)">Call Krishan</button>&ndash;&gt;-->
        <!--              <button class="btn btn-success btn-fill" id="accept" type="button" onclick="answerCall()">Accept Call</button>-->
        <!--              <button class="btn btn-danger btn-fill" id="end" type="button" onclick="leaveCall()">End Call</button>-->
        <!--              <ul class="dropdown-menu" id="newConvDropDown">-->
        <!--              </ul>-->
        <!--            </div>-->
        <!--          </div>-->

        <!--          <div class="col-md-8">-->

        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>


</body>

<style>
  body {
    overflow-x: hidden; /* Hide scrollbars */
  }

  video {
    padding: 2px 2px 2px 2px;
    /*  width: 650px;*/
    /*  height: 450px;*/
  }

  .buttonWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<script>


</script>

<!--   Core JS Files   -->
<script src="/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

<script
    src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/simplepeer.min.js"></script>
<script src="/js/customScripts/videoCall.js"></script>

<script type="text/javascript"></script>
<script src="/loginAssets/vendor/tilt/tilt.jquery.min.js"></script>
<script>
  $('.js-tilt').tilt({
    scale: 1.1
  })
</script>
</html>
