<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
  <title>Tutor-Me</title>

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="css/fontawesome.css">
  <link rel="stylesheet" href="css/templatemo-style.css">
  <link rel="stylesheet" href="css/owl.css">

  <!-- <link rel="stylesheet" href="css/styles.css" /> -->
  <link rel="stylesheet" href="css/chatStyles.css" />

  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
  <script type="text/javascript"
    src="https://momentjs.com/downloads/moment.min.js"></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script src="js/chatScript.js"></script>
</head>

<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <header id="header">
          <div class="logo">
            <a href="/">Tutor-Me</a>
          </div>
        </header>

        <!-- Page Heading -->
        <!-- <div class="page-heading">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <h1>Chats</h1>
              </div>
            </div>
          </div>
        </div> -->



        <section>
          <div class="container">
            <div class="row no-gutters">
              <div class="col-md-4 border-right">
                <div class="settings-tray">
                  <img class="profile-image"
                    src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/filip.jpg"
                    alt="Profile img">
                  <span class="settings-tray--right">
                    <i class="material-icons">cached</i>
                    <i class="material-icons">message</i>
                    <i class="material-icons">menu</i>
                  </span>
                </div>
                <div class="search-box">
                  <div class="input-wrapper">
                    <i class="material-icons">search</i>
                    <input placeholder="Search here" type="text">
                  </div>
                </div>
                <div class="friend-drawer friend-drawer--onhover">
                  <img class="profile-image"
                    src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg"
                    alt="">
                  <div class="text">
                    <h6>Robo Cop</h6>
                    <p class="text-muted">Hey, you're arrested!</p>
                  </div>
                  <span class="time text-muted small">13:21</span>
                </div>
                <hr>
                <div class="friend-drawer friend-drawer--onhover">
                  <img class="profile-image"
                    src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/optimus-prime.jpeg"
                    alt="">
                  <div class="text">
                    <h6>Optimus</h6>
                    <p class="text-muted">Wanna grab a beer?</p>
                  </div>
                  <span class="time text-muted small">00:32</span>
                </div>
                <hr>
                <div class="friend-drawer friend-drawer--onhover ">
                  <img class="profile-image"
                    src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/real-terminator.png"
                    alt="">
                  <div class="text">
                    <h6>Skynet</h6>
                    <p class="text-muted">Seen that canned piece of s?</p>
                  </div>
                  <span class="time text-muted small">13:21</span>
                </div>
                <hr>
                <div class="friend-drawer friend-drawer--onhover">
                  <img class="profile-image"
                    src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/termy.jpg"
                    alt="">
                  <div class="text">
                    <h6>Termy</h6>
                    <p class="text-muted">Im studying spanish...</p>
                  </div>
                  <span class="time text-muted small">13:21</span>
                </div>
                <hr>
                <div class="friend-drawer friend-drawer--onhover">
                  <img class="profile-image"
                    src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/rick.jpg"
                    alt="">
                  <div class="text">
                    <h6>Richard</h6>
                    <p class="text-muted">I'm not sure...</p>
                  </div>
                  <span class="time text-muted small">13:21</span>
                </div>
                <hr>
                <div class="friend-drawer friend-drawer--onhover">
                  <img class="profile-image"
                    src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/rachel.jpeg"
                    alt="">
                  <div class="text">
                    <h6>XXXXX</h6>
                    <p class="text-muted">Hi, wanna see something?</p>
                  </div>
                  <span class="time text-muted small">13:21</span>
                </div>
              </div>

              <div class="col-md-8">
                <div class="settings-tray">
                  <div class="friend-drawer no-gutters friend-drawer--grey">
                  <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg" alt="">
                  <div class="text">
                    <h6>Robo Cop</h6>
                    <p class="text-muted">Layin' down the law since like before Christ...</p>
                  </div>
                  <span class="settings-tray--right">
                    <i class="material-icons">cached</i>
                    <i class="material-icons">message</i>
                    <i class="material-icons">menu</i>
                  </span>
                  </div>
                </div>



                <div class="chat-panel">
                  <div class="row no-gutters">
                  <div class="col-md-3">
                    <div class="chat-bubble chat-bubble--left">
                    Hello dude!
                    </div>
                  </div>
                  </div>
                  <div class="row no-gutters">
                  <div class="col-md-3 offset-md-9">
                    <div class="chat-bubble chat-bubble--right">
                    Hello dude!
                    </div>
                  </div>
                  </div>
                  <div class="row no-gutters">
                  <div class="col-md-3 offset-md-9">
                    <div class="chat-bubble chat-bubble--right">
                    Hello dude!
                    </div>
                  </div>
                  </div>
                  <div class="row no-gutters">
                  <div class="col-md-3">
                    <div class="chat-bubble chat-bubble--left">
                    Hello dude!
                    </div>
                  </div>
                  </div>
                  <div class="row no-gutters">
                  <div class="col-md-3">
                    <div class="chat-bubble chat-bubble--left">
                    Hello dude!
                    </div>
                  </div>
                  </div>
                  <div class="row no-gutters">
                  <div class="col-md-3">
                    <div class="chat-bubble chat-bubble--left">
                    Hello dude!
                    </div>
                  </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                      <div class="chat-bubble chat-bubble--right">
                        Hello dude!
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                      <div class="chat-bubble chat-bubble--right">
                        Hello dude!
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                      <div class="chat-bubble chat-bubble--right">
                        Hello dude!
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="chat-box-tray">
                        <i class="material-icons">sentiment_very_satisfied</i>
                        <input type="text" placeholder="Type your message here...">
                        <i class="material-icons">mic</i>
                        <i class="material-icons">send</i>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
              </div>
        </section>

        <!-- <div class="container-fluid h-100">

                <div id="chat-page" >
                    <div class="row justify-content-center h-100">
            
                        <div class="col-md-8 col-xl-6">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex bd-highlight">
                                        <div class="chat-summary">
                                            <span>Chat room</span>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="card-body">
            
                                    <div id="chat">
            
                                    </div>
            
                                </div>
            
                                <form id="message-controls" name="message-controls" class="card-footer">
                                    <div class="input-group">
                                        <textarea id="message" class="form-control all-input" placeholder="Type your message..."></textarea>
                                        <div class="input-group-append">
                                            <button class="fas fa-location-arrow" type="submit"></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


        <!-- 
              <section class="simple-post">
              <div class="container-fluid">

               <div class="row">
                  <div class="col-lg-4">
						<h2>First Column</h2>
                      <p>Aliquam sit amet gravida tellus. Phasellus id erat nec mi ullamcorper viverra. Quisque vitae pharetra sem. Maecenas sit amet velit ultrices, malesuada quam id, porta nisl.</p>
                      <br>

                  </div>
                  <div class="col-lg-4">
						<h2>Second Column</h2>
                      <p>Donec et massa at dolor condimentum ornare nec non lorem. Maecenas non egestas metus, sed ultricies lectus. Aliquam sit amet gravida tellus. Phasellus id erat nec mi ullamcorper viverra.</p>
                      <br>

                  </div>
                  <div class="col-lg-4">
						<h2>Third Column</h2>
                      <p>Quisque sodales vestibulum arcu porttitor finibus. Phasellus dictum nisl id augue ornare, vel interdum nibh mollis. Aliquam sit amet gravida tellus.</p>

                  </div>
                </div>

              </div>
              </section> -->

        <!-- Contact Form -->
        <!-- <section class="contact-form">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-6">
                    <form id="contact" action="" method="post">
                      <div class="row">
                        <div class="col-md-12">
                          <fieldset>
                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Your email..." required="">
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                          </fieldset>
                        </div>
                        <div class="col-md-12">
                          <fieldset>
                            <button type="submit" id="form-submit" class="button">Send Message</button>
                          </fieldset>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6">
                    <div id="map"> -->
        <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->

        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1197183.8373802372!2d-1.9415093691103689!3d6.781986417238027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfdb96f349e85efd%3A0xb8d1e0b88af1f0f5!2sKumasi+Central+Market!5e0!3m2!1sen!2sth!4v1532967884907" width="100%" height="420px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </section> -->

      </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar">

      <div class="inner">

        <!-- Search Box -->
        <section id="search" class="alt">
          <form method="get" action="#">
            <input type="text" name="search" id="search"
              placeholder="Search..." />
          </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
          <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/chats_page">Chats</a></li>
            <li><a href="/calls_page">Calls</a></li>
            <li>
              <span class="opener">Dropdown One</span>
              <ul>
                <li><a href="#">First Sub Menu</a></li>
                <li><a href="#">Second Sub Menu</a></li>
                <li><a href="#">Third Sub Menu</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">Dropdown Two</span>
              <ul>
                <li><a href="#">Sub Menu #1</a></li>
                <li><a href="#">Sub Menu #2</a></li>
                <li><a href="#">Sub Menu #3</a></li>
              </ul>
            </li>
            <li><a href="https://www.google.com">External Link</a></li>
          </ul>
        </nav>

        <!-- Footer -->
        <footer id="footer">
          <br>DRP project by </p>
        </footer>

      </div>
    </div>
  </div>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="js/browser.min.js"></script>
  <script src="js/breakpoints.min.js"></script>
  <script src="js/transition.js"></script>
  <script src="js/owl-carousel.js"></script>
  <script src="js/custom.js"></script>
</body>


</body>

</html>