<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <link rel="icon" type="image/png" href="/img/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

  <title>Tutor me</title>

  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
        name='viewport'/>
  <meta
      name="viewport" content="width=device-width"/>


  <!-- Bootstrap core CSS     -->
  <link
      href="/css/bootstrap.min.css" rel="stylesheet"/>

  <!-- Animation library for notifications   -->
  <link
      href="/css/animate.min.css" rel="stylesheet"/>

  <!--  Light Bootstrap Table core CSS    -->
  <link
      href="/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet"/>


  <!--  CSS for Demo Purpose, don't include it in your project     -->
  <link
      href="/css/demo.css" rel="stylesheet"/>


  <!--     Fonts and icons     -->
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
        rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet'
        type='text/css'>
  <link href="/css/pe-icon-7-stroke.css" rel="stylesheet"/>

</head>

<body class="is-preload">

<div class="wrapper">
  <div
      class="sidebar" data-color="purple" data-image="/img/sidebar-5.jpg">

    <!--
            Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
            Tip 2: you can also add an image using data-image tag
        -->

    <div class="sidebar-wrapper">
      <div class="logo" style="padding-left: 10px">
        <div class="login100-pic js-tilt" data-tilt=""
             style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);"
             onclick="window.location.href='/'">
          <img style="width: 240px;" src="/img/logo.png" alt="logo">
        </div>
      </div>

      <ul class="nav">
        <li>
          <a href="/dashboard">
            <i class="pe-7s-home"></i>
            <p>Home</p>
          </a>
        </li>
        <li>
          <a href="/calls">
            <i class="pe-7s-video"></i>
            <p>Calls</p>
          </a>
        </li>
        <li>
          <a href="/chats">
            <i class="pe-7s-chat"></i>
            <p>Chats</p>
          </a>
        </li>

        <li>
          <a href="/calendar">
            <i class="pe-7s-date"></i>
            <p>Calendar</p>
          </a>
        </li>
        <li class="active">
          <a href="/homework">
            <i class="pe-7s-note"></i>
            <p>Homework</p>
          </a>
        </li>
        <li>
          <a href="/notes">
            <i class="pe-7s-notebook"></i>
            <p>Notes</p>
          </a>
        </li>

        <li>
          <a href="/user">
            <i class="pe-7s-user"></i>
            <p>User Profile</p>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#navigation-example-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Homework</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left"></ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/user" style="padding-top: 12px;padding-right: 0px;">
                <p th:text="${person.name}"></p>
              </a>
            </li>
            <li>
              <div class="login100-pic js-tilt" data-tilt=""
                   style="will-change: transform; transform: perspective(300px) rotateX(0deg) rotateY(0deg);"
                   onclick="window.location.href='/user'">
                <img id="navBarProfilePic" class="avatar border-gray"
                     style="margin-top: 6px; height: 50px; width: 50px;"
                     th:src="'/img/avatars/' + ${person.avatar} + '.png'"
                     th:alt="${person.avatar}"/>
              </div>
            </li>
            <li>
              <a href="/logout">
                <p>Log out</p>
              </a>
            </li>
            <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="content" id="main">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="content">
                <section class="services" v-cloak>
                  <h1 style="text-align: center" v-if="user.name != undefined">Welcome,
                    {{user.name}}!</h1>
                </section>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="header">
              </div>
              <div class="content" v-if="user.userType == 'tutor'">
                <form action="/addtutee" method="post"
                      id="form-addtutee">
                  <div class="form-group">
                    <input type="text" class="form-control" name="tutee_name"
                           placeholder="Tutee Name" style="margin-bottom: 10px">
                    <button class="btn btn-default btn-block" type="reset"
                            v-on:click="addTutee('form-addtutee')">Add
                    </button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="header">
                <h4 class="title" style="text-align: center">Homework Schedule</h4>
              </div>
              <div class="content">
                <section v-cloak>
                  <!-- Tutor homepage -->
                  <p></p>
                  <div class="text-center" v-if="user.userType == undefined">
                    <div class="spinner-border" role="status">
                    </div>
                  </div>
                  <div class="container-fluid" v-if="user.userType == 'tutor'">
                    <div class="row">
                      <div class="col-xs-12 col-md-12">
                        <div v-for="(item, key) in tasks.tuteeMap">
                          <div class="d-flex justify-content-between">
                            <div class='btn-toolbar pull-right'>
                              <div class='btn-group'>
                                <!--                        <form action="/removemytutee" method="post"-->
                                <!--                              v-bind:id="'form-removemytutee-' + key"-->
                                <!--                              v-on:submit.prevent="removeMyTutee('form-removemytutee-' + key)">-->
                                <!--                          <input type="hidden" name="tutee_id"-->
                                <!--                                 v-bind:value="key"/>-->
                                <!--                          <button class="btn btn-danger btn-block" type="submit">Remove</button>-->
                                <!--                        </form>-->
                              </div>
                            </div>
                            <h2 class="d-table-cell">{{item.personName}} </h2>

                          </div>
                          <div class="table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                              <thead>
                              <tr>
                                <th>STATE</th>
                                <th>START</th>
                                <th>END</th>
                                <th>CONTENT</th>
                                <th>ACTIONS</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr v-for="task in item.tasks">
                                <td>
                                  <div class="form-check">
                                    <span v-if="!task.done">&#9744;</span>
                                    <span v-if="task.done">&#9745;</span>
                                  </div>
                                </td>
                                <td>{{formatTime(task.startTime)}}</td>
                                <td>{{formatTime(task.endTime)}}</td>
                                <td>{{task.content}}</td>
                                <td>
                                  <div class="d-flex">
                                    <a class="btn btn-info" v-bind:href="'/task/' + task.id"
                                       style="margin-right: 8px;float: left">FILES
                                    </a>
                                    <form action="/deletetask" method="post"
                                          v-on:submit.prevent="deleteTask('form-deletetask-' + task.id)"
                                          v-bind:id="'form-deletetask-' + task.id">
                                      <input type="hidden" name="task_id" v-bind:value="task.id"/>
                                      <button class="btn btn-danger"
                                              style="margin-right: 8px;float: left">
                                        Delete
                                      </button>
                                    </form>
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td></td>
                                <td><input v-bind:form="'form-addtask-' + key"
                                           type="datetime-local" class="form-control"
                                           name="start_time"
                                           v-bind:value="getTodayString()"
                                           placeholder="e.g., 2018-06-12T19:30"></td>
                                <td><input v-bind:form="'form-addtask-' + key"
                                           type="datetime-local" class="form-control"
                                           name="end_time"
                                           v-bind:value="getTomorrowString()"
                                           placeholder="e.g., 2018-06-12T19:30"></td>
                                <td><input v-bind:form="'form-addtask-' + key"
                                           type="text"
                                           class="form-control"
                                           name="content"
                                           placeholder="Content"></td>
                                <td>
                                  <input type="hidden" v-bind:form="'form-addtask-' + key"
                                         name="tutee_id"
                                         v-bind:value="key"/>
                                  <button v-bind:form="'form-addtask-' + key"
                                          class="btn btn-primary">
                                    Add
                                  </button>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                            <form action="/addtask" method="post"
                                  v-on:submit.prevent="addTask('form-addtask-' + key)"
                                  v-bind:id="'form-addtask-' + key"></form>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>


                  <!-- Tutee homepage -->
                  <div class="container-fluid" v-if="user.userType == 'tutee'">
                    <div class="row">
                      <div class="col-xs-12 col-md-12">
                        <div class="table-responsive table-full-width">
                          <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                              <th>STATE</th>
                              <th>START</th>
                              <th>END</th>
                              <th>TUTOR</th>
                              <th>CONTENT</th>
                              <th>ACTIONS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="taskItem in tasks.list">
                              <td>
                                <div class="form-check">
                                  <span v-if="!taskItem.task.done">&#9744;</span>
                                  <span v-if="taskItem.task.done">&#9745;</span>
                                  <span v-if="taskItem.hasAttachment"
                                        title="This task has files attached">&#128196;</span>
                                </div>
                              </td>
                              <td>{{formatTime(taskItem.task.startTime)}}</td>
                              <td>{{formatTime(taskItem.task.endTime)}}</td>
                              <td>{{taskItem.task.tutor.name}}</td>
                              <td>{{taskItem.task.content}}</td>
                              <td>
                                <div class="d-flex">
                                  <a class="btn btn-info" v-bind:href="'/task/' + taskItem.task.id"
                                     style="margin-right: 8px;float: left">FILES
                                  </a>
                                  <form action="/donetask" method="post" v-if="!taskItem.task.done"
                                        v-on:submit.prevent="doneTask('form-donetask-' + taskItem.task.id)"
                                        v-bind:id="'form-donetask-' + taskItem.task.id">
                                    <input type="hidden" name="task_id"
                                           v-bind:value="taskItem.task.id"/>
                                    <button class="btn btn-success"
                                            style="margin-right: 8px;float: left">
                                      Done
                                    </button>
                                  </form>
                                </div>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>

<!--   Core JS Files   -->
<script src="/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/js/bootstrap-notify.js"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

<script src="/js/vue.js"></script>
<script src="/js/frontpage.js"></script>

<script type="text/javascript"></script>

<script src="/loginAssets/vendor/tilt/tilt.jquery.min.js"></script>
<script>
  $('.js-tilt').tilt({
    scale: 1.1
  })
</script>

</html>
