<!DOCTYPE html>
<html lang="en">
<head>
  <title>Tutor Me</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
        rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Tutor Me</a>
</nav>
<div class="container-fluid">
  <form action="/login" method="post">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="username" placeholder="Username">
      <button class="btn btn-outline-secondary" type="submit">Login</button>
    </div>
  </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>